@import '@portfolio/client/src/styles/theme.module.scss';

.root {}

.zidane {
    display: flex;
    flex-direction: column;
}

.pic-title {
    align-content: end;
    align-items: end;
    text-decoration-style: double;
    text-align: center;
    text-decoration-color: $turquoise-green;
    text-decoration-line: none;
    font-size: 20px;
    line-height: 2;
    font-style: italic;
}